doctype html
html
  head
    title Waiting for Game - Player
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/session-player.css")
  body
    #loadingOverlay.loading-overlay(style="display: none;")
      .spinner
      h2 Preparing Adventure...
      p Loading...
    .player-waiting-container
      .header-section
        h1 Game Session ID: 
        span.id-underline= room.session_id

      .players-pill-grid#playersList

      .footer-section
        button#exitBtn.btn-pill-exit EXIT
        .status-msg Waiting Others Player Join
        .host-id-tag= room.user_id
      
    script.
      const SESSION_ID = "#{room.session_id}";
      const MY_USER_ID = "#{player.user_id}";
    script(src="/js/session-player.js")